<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Image Descritor</title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script defer src="/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

  <main class="w-100 min-vh-100 d-flex align-items-center justify-content-center">
    <form action="/" method="post" id="form-image-descritor" class="position-absolute visually-hidden" enctype="multipart/form-data">
      <input type="file" accept="image/*" id="field-image" name="image">
    </form>
    <label for="field-image" id="upload-image" class="d-inline-block card px-5 py-4" style="width: clamp(300px, 80%, 550px); cursor: pointer;">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="/assets/cloud-up.svg" alt="upload image">
        <span class="d-inline-block text-center text-secondary fs-2" style="max-width: 14ch;">
          Drag and drop your image here
        </span>
      </div>
    </label>

    <div id="analyzing-image" class="d-none px-5 py-4" style="width: clamp(300px, 80%, 550px);">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="/assets/image.svg" alt="image">
        <span class="d-inline-block text-center text-secondary fs-2" style="max-width: 14ch;">
          Analyzing image
        </span>
        <div class="progress mt-3" role="progressbar" aria-label="Analyzing image" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 15rem;">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </main>

  <script>
    const fieldImage = document.querySelector("#field-image");
    fieldImage.addEventListener("change", submitForm);

    function submitForm() {
      updateView();
      setTimeout(2000, () => { })
      sendData();
    }

    function updateView() {
      const uploadImage = document.querySelector("#upload-image");
      const analyzingImage = document.querySelector("#analyzing-image");
      uploadImage.classList.remove("d-inline-block")
      uploadImage.classList.add("d-none")
      analyzingImage.classList.remove("d-none")
      analyzingImage.classList.add("d-inline-block")
    }

    function sendData() {
      const form = document.querySelector("#form-image-descritor");
      const address = form.action;
      const formData = new FormData(form);
      return fetch(address, { method: "POST", body: formData });
    }
  </script>

</body>

</html>