<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Image Cloud</title>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script defer src="/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

  <main class="w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-success">Upload success!</h2>
    <div class="card" style="width: clamp(300px, 80%, 550px);">
      <img th:src="${url}" alt="Image uploaded" class="w-100">
    </div>
  </main>

</body>

</html>